:root {
    --primary: 61, 125, 255;
    --secondary: 255, 194, 0;
    --black: 34, 45, 71;
    --dark_grey: 91, 100, 125;
    --grey: 203, 207, 215;
    --light_grey: 245, 246, 250;
    --success: 0, 208, 147;
    --wrong: 241, 39, 39;
    --white: 255, 255, 255;
    --grey_1: 251, 252, 253;
    --grey_2: 244, 247, 252;
    --grey_5_border: 124, 133, 137
}
svg.fill_primary [data-fill] {
			fill: rgb(var(--primary))
}
svg.fill_secondary [data-fill] {
			fill: rgb(var(--secondary))
}
svg.fill_black [data-fill] {
			fill: rgb(var(--black))
}
svg.fill_dark_grey [data-fill] {
			fill: rgb(var(--dark_grey))
}
svg.fill_grey [data-fill] {
			fill: rgb(var(--grey))
}
svg.fill_light_grey [data-fill] {
			fill: rgb(var(--light_grey))
}
svg.fill_success [data-fill] {
			fill: rgb(var(--success))
}
svg.fill_wrong [data-fill] {
			fill: rgb(var(--wrong))
}
svg.fill_white [data-fill] {
			fill: rgb(var(--white))
}
svg.fill_grey_1 [data-fill] {
			fill: rgb(var(--grey_1))
}
svg.fill_grey_2 [data-fill] {
			fill: rgb(var(--grey_2))
}
svg.fill_grey_5_border [data-fill] {
			fill: rgb(var(--grey_5_border))
}
.border-radius {
  border-radius: 3px
}
