:root {
    --primary: 236, 6, 229;
    --secondary: 255, 194, 0;
    --black: 0, 0, 0;
    --dark_grey: 91, 100, 125;
    --grey: 203, 207, 215;
    --light_grey: 245, 246, 250;
    --success: 6, 236, 13;
    --wrong: 208, 6, 25;
    --white: 255, 255, 255;
    --grey_1: 251, 252, 253;
    --grey_2: 244, 247, 252;
    --grey_5_border: 124, 133, 137
}
svg.fill_primary [data-fill] {
			fill: rgb(236, 6, 229);
			fill: rgb(var(--primary))
}
svg.fill_secondary [data-fill] {
			fill: rgb(255, 194, 0);
			fill: rgb(var(--secondary))
}
svg.fill_black [data-fill] {
			fill: rgb(0, 0, 0);
			fill: rgb(var(--black))
}
svg.fill_dark_grey [data-fill] {
			fill: rgb(91, 100, 125);
			fill: rgb(var(--dark_grey))
}
svg.fill_grey [data-fill] {
			fill: rgb(203, 207, 215);
			fill: rgb(var(--grey))
}
svg.fill_light_grey [data-fill] {
			fill: rgb(245, 246, 250);
			fill: rgb(var(--light_grey))
}
svg.fill_success [data-fill] {
			fill: rgb(6, 236, 13);
			fill: rgb(var(--success))
}
svg.fill_wrong [data-fill] {
			fill: rgb(208, 6, 25);
			fill: rgb(var(--wrong))
}
svg.fill_white [data-fill] {
			fill: rgb(255, 255, 255);
			fill: rgb(var(--white))
}
svg.fill_grey_1 [data-fill] {
			fill: rgb(251, 252, 253);
			fill: rgb(var(--grey_1))
}
svg.fill_grey_2 [data-fill] {
			fill: rgb(244, 247, 252);
			fill: rgb(var(--grey_2))
}
svg.fill_grey_5_border [data-fill] {
			fill: rgb(124, 133, 137);
			fill: rgb(var(--grey_5_border))
}
.border-radius {
  border-radius: 3px
}