.autocomplete
  position: relative
  &[data-open="true"]
    .select_dropdown
      display: block
      top: 100%
      margin-top: -1px
      border-top: none !important
      border-top-right-radius: 0
      border-top-left-radius: 0
    .input_field
      border-bottom-right-radius: 0px
      border-bottom-left-radius: 0px
  [data-valid="false"] ~ .select_dropdown
    border-color: rgb(var(--wrong)) !important