.button_group
  display: inline-block
  vertical-align: top
  .button
    &:not(:last-child)
      border-right-color: transparent
      border-top-right-radius: 0
      border-bottom-right-radius: 0
    &:not(:first-child)
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      margin-left: -1px
      &[data-type="fill"]
        border-left-color: rgba(255, 255, 255, .5)
  &_full
    width: 100%
    display: inline-flex