.increase_triangle
  top: 9px
  position: absolute
  width: 6px
  right: 5px
  cursor: pointer
  transition: opacity .3s
  &:hover
    opacity: .7
  

.decrease_triangle
  bottom: 9px  
  transform: rotate(180deg)
  position: absolute
  width: 6px
  right: 5px
  cursor: pointer
  transform: rotate(180deg)
  transition: opacity .3s
  &:hover
    opacity: .7