@each $key in $colors
	.fill_$(key)
		&:not(svg)
			background-color: var(--$(key))
		svg& [data-fill]
			fill: var(--$(key))

.shadow
	border: 1px solid rgba(#D6DBDE, 0.15)
	box-shadow: 0 4px 10px 0 rgba(64, 72, 79, 0.05)