/**
 * Base classes
 */
.round_small {
  border-radius: var(--pv-border-radius);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

.align_vertical {
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
}

.stroke_transparent {
  border-color: transparent;
}

.fill_transparent {
  background-color: transparent;
}
