.avatar
  display: inline-block
  text-align: center
  font-size: 16px
  font-weight: 700
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  user-select: none
  border: 1px solid transparent

  &[data-type="stroke"]
    background: transparent
