<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
    >
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
    >
    <meta
      httpEquiv="X-UA-Compatible"
      content="ie=edge"
    >
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.DESCRIPTION %>"
    >
    <meta name="keywords" content="react, components, ui, alternative" >

    <!-- Reset css -->
    <style>
      <%= require('raw-loader!../bundler/parts/reset.css') %>
    </style>
    <!--  -->

    <!-- Default font-family for <body> for current package -->
    <style>
      html, body {
        font-family: 'Open Sans', Arial, sans-serif;
      }
    </style>
    <!--  -->

    <!-- Basic fonts for current package -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic"
      rel="stylesheet"
    >
    <!--  -->

    <!-- Css styles for lib-react-components (theme) -->
    <link
      href="<%= htmlWebpackPlugin.options.publicPath %>assets/css/default.css"
      rel="stylesheet"
    >
    <!--  -->

    <!-- Content for disabled javascript -->
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <!--  -->
  </head>
  <body>
    <div id="root">
      <div data-component="circular-progress" class="circle_progress" style="width: 40px; height: 40px; position: absolute; top: 50%; left: 50%; margin: -20px 0 0 -20px;">
        <svg class="circle_progress_svg" viewBox="0 0 50 50">
          <circle class="circle_progress_stroke_light_grey" cx="25" cy="25" r="20" fill="none" stroke-width="4"></circle>
          <circle class="circle_progress_circle circle_progress_stroke_primary" cx="25" cy="25" r="20" fill="none" stroke-width="4"></circle>
        </svg>
      </div>
    </div>

    <% if (htmlWebpackPlugin.options.DISABLE_REACT_DEV_TOOLS == 'true') { %>
      <!-- Disable react dev tools -->
      <script>
        if (typeof window.__REACT_DEVTOOLS_GLOBAL_HOOK__ === 'object') {
          window.__REACT_DEVTOOLS_GLOBAL_HOOK__.inject = function() {}
        }
      </script>
      <!--  -->
    <% } %>

    <!-- Css, js assets and endpoints global variables -->
    <script>
      window._ENDPOINTS = <%= JSON.stringify(htmlWebpackPlugin.options.ENDPOINTS) %>;
      window._PUBLIC_PATH = <%= JSON.stringify(htmlWebpackPlugin.options.publicPath) %>;
    </script>
    <!--  -->

    <% if (htmlWebpackPlugin.options.USE_SERVICE_WORKER == 'true') { %>
      <!-- Service worker initialize -->
      <script>
        // Check that service workers are registered
        if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', function () {
            navigator.serviceWorker.register('<%= htmlWebpackPlugin.options.publicPath %>sw.js');
          });
        }
      </script>
      <!--  -->
    <% } %>
  </body>
</html>