.button {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  text-align: center;
  text-decoration: none;

  > span {
    display: inline-block;
    transition: opacity 200ms;
    vertical-align: middle;
  }

  &.size_small:not(.shape_circle) {
    padding: 0 10px;
  }

  &.size_medium:not(.shape_circle) {
    padding: 0 16px;
  }

  &.size_large:not(.shape_circle) {
    padding: 0 36px;
  }

  &.size_small.shape_circle {
    width: var(--pv-size-small-height);
  }

  &.size_medium.shape_circle {
    width: var(--pv-size-medium-height);
  }

  &.size_large.shape_circle {
    width: var(--pv-size-large-height);
  }

  &.shape_circle {
    border-radius: 50%;
    padding: 0 4px;
  }

  &.shape_round {
    border-radius: 100px;
  }

  &.full_width {
    display: block;
    width: 100%;
  }

  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }

  @at-root {
    a#{&} {
      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 0;
      }
    }
  }
}

@media (hover: hover) {
  .button {
    &:hover {
      > span {
        opacity: 0.5;
      }
    }
  }
}
