.button {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  text-align: center;
  text-decoration: none;

  > span {
    display: inline-block;
    transition: opacity 200ms;
    vertical-align: middle;
  }

  &.size_small {
    padding: 0 10px;
  }

  &.size_medium {
    padding: 0 16px;
  }

  &.size_large {
    padding: 0 36px;
  }

  &.rounded.size_small {
    border-radius: calc(var(--pv-size-small) / 2);
  }

  &.rounded.size_medium {
    border-radius: calc(var(--pv-size-medium) / 2);
  }

  &.rounded.size_large {
    border-radius: calc(var(--pv-size-large) / 2);
  }

  &.full {
    display: block;
    width: 100%;
  }

  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }

  &[role='button']::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
}

@media (hover: hover) {
  .button {
    &:hover {
      > span {
        opacity: 0.5;
      }
    }
  }
}
