@each $name, $value in $palette {
  .stroke_#{$name} {
    border-color: rgb(red($value), green($value), blue($value));
    border-color: rgb(var(--pv-#{$name}));
  }
}

.stroke_transparent {
  border-color: transparent;
}
